//- Project name
- var project_name       = "HarmonyPackFCI"

//- Basic page variables
- var page_lang          = "pl"
- var charset            = "utf-8"
- var page_description   = "Harmony Pack FCI"
- var page_author        = "Przemysław Laczycki"
- var page_title         = "Harmony Pack FCI"

//- Body classes
- var body_classes       = ['css-animate dom-body']
- var preloader          = false
- var top_bar            = false
- var nav_bar            = true
- var nav_mobile         = false
- var nav_mobile_toggle  = false
- var footer             = true

//- Others
- var path_assets        = "assets/"
- var path_css           = path_assets.concat('css/')
- var path_image         = path_assets.concat('images/')
- var path_js            = path_assets.concat('js/')
- var google_analitics   = false
- var cookies_policy 	 = true
