//- Document Head
extends config/base
block page_content
    .container
        .row
            .col-xs-12
              .tabs-wrapper.dog-profile-tab(data-tab-effect="fadeInUp")
                .tabs-navigation
                    li.tab-link.is-active: a(href="#tab1") Tab1
                    li.tab-link: a(href="#tab2") Tab2
                    li.tab-link: a(href="#tab3") Tab3
                .tabs-content
                    #tab1
                      .tab-content.container
                        .row
                          .col-md-3
                            .img-responsive
                              img(src="assets/images/erta-profile.jpg")
                          .col-md-9
                            .text-block
                              p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veniam quas nostrum libero ullam, eos assumenda voluptate ut, cum sint labore corporis, nesciunt. Nemo debitis reiciendis quasi assumenda non quibusdam architecto maiores, accusantium distinctio saepe voluptate in, aut illum ipsa!
                        .row
                          .col-12
                            .tab-gallery._js-lightGallery(data-mode="lg-fade")
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                    #tab2
                      .tab-content.container
                        .row
                          .col-md-3
                            .img-responsive
                              img(src="assets/images/cookies-policy.png")
                          .col-md-9
                            .text-block
                              p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veniam quas nostrum libero ullam, eos assumenda voluptate ut, cum sint labore corporis, nesciunt. Nemo debitis reiciendis quasi assumenda non quibusdam architecto maiores, accusantium distinctio saepe voluptate in, aut illum ipsa!
                        .row
                          .col-12
                            .tab-gallery._js-lightGallery(data-mode="lg-fade")
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                    #tab3
                      .tab-content.container
                        .row
                          .col-md-3
                            .img-responsive
                              img(src="assets/images/cookies-policy.png")
                          .col-md-9
                            .text-block
                              p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veniam quas nostrum libero ullam, eos assumenda voluptate ut, cum sint labore corporis, nesciunt. Nemo debitis reiciendis quasi assumenda non quibusdam architecto maiores, accusantium distinctio saepe voluptate in, aut illum ipsa!
                        .row
                          .col-12
                            .tab-gallery._js-lightGallery(data-mode="lg-fade")
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                              a(href='assets/images/cookies-policy.png', data-sub-html='Place for title')
                                  img(src='assets/images/cookies-policy.png')
                    
