//- Document Head
extends config/base
block page_content
    .container
      .row
        img(src="assets/images/hero.png", alt="Erta i Zen")
      .row
        .col-xs-12
          p  Aktualnie mamy szczylki!
