//- Document Head
extends config/base
block page_content
    
  .container.main-bg
    .row
      .col-xs-12
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates non, minus, molestias nobis numquam reiciendis.                          
