footer.footer
  .parallax(data-parallax="50")
    .container-fluid.footer-container
      .row
        .col-xs-12
          .container
            .row
              .col-sm-3
                h3 PSY
                ul.footer-list
                  li
                    a(href='erta') Erta
                  li
                    a(href='#') Zen
                  li
                    a(href='#') Kira
              .col-sm-3
                h3 Mioty
                ul.footer-list
                  li
                    a(href='#') Ehehe
                  li
                    a(href='#') ZXC
              .col-sm-3
                h3 Asda
                ul.footer-list
                  li
                    a(href='#') O NAS
                  li
                    a(href='#') Kontakt
                  li
                    a(href='linki') Linki
              .col-sm-3
                h3 Social media
                ul.footer-list
                  li
                    i.fa.fa-facebook(aria-hidden='false')
                    a(href='#') Facebook
                  li
                    i.fa.fa-instagram(aria-hidden='true')
                    a(href='#') Instagram
      .container
        .row
          .col-xs-12
            .copyright
              p &copy; 2017 Harmony Pack FCI
