nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-full
  a.navbar-brand(href='#') Navbar
  .navbar-nav.float-sm-right.nav-transition.text-uppercase 
    a.nav-item.nav-link.active(href='index') Home 
    div.nav-item-container.dropdown-fluid
      a.nav-item.nav-link.dropdown-link(href='#') Psy
      #dropdown-fluid-container.dropdown-fluid
        .dropdown-fluid-positioner
          .grid
            figure.effect-layla
              img(src='assets/images/erta-profile.jpg', alt='Erta')
              figcaption
                h2
                  | Erta 
                p Owczarek australijski
                p Suka
                a.figure-anchor(href='erta') 
          .grid
            figure.effect-layla
              img(src='assets/images/zen-profile.jpg', alt='Zen')
              figcaption
                h2
                  | Zen
                p Owczarek australijski
                p Pies
                a.figure-anchor(href='#') 
            .name
              h2 Zen
          .grid
            figure.effect-layla
              img(src='assets/images/kira-profile.jpg', alt='Kira')
              figcaption
                h2
                  | Kira
                p Owczarek australijski
                p Suka
                a.figure-anchor(href='#') 
    a.nav-item.nav-link(href='#') Mioty
    a.nav-item.nav-link(href='#') Wzorce
    a.nav-item.nav-link(href='#') Porady
    a.nav-item.nav-link(href='#') O nas
    a.nav-item.nav-link(href='kontakt') Kontakt 
    a.nav-item.nav-link(href='linki') Linki
